PROJECT_NAME=genieacs-prod
TZ=Asia/Jakarta

PUBLIC_DASHBOARD_URL=http://192.168.1.110
PUBLIC_GENIEACS_UI_URL=http://192.168.1.110:3000
GENIEACS_CWMP_URL=http://10.88.0.100:7547
GENIEACS_FS_URL=http://10.88.0.100:7567
TELEGRAM_BOT_TRANSPORT=polling
TELEGRAM_POLLING_TARGET_URL=http://127.0.0.1/webhook/telegram.php

GENIEACS_UI_JWT_SECRET=replace-with-random-secret
GENIEACS_ADMIN_USERNAME=caesarbugar
GENIEACS_ADMIN_PASSWORD=CaesarBugar007
GENIEACS_CPE_USERNAME=caesarbugar
GENIEACS_CPE_PASSWORD=CaesarBugar007

MONGO_ROOT_USERNAME=genieacs
MONGO_ROOT_PASSWORD=replace-with-random-password
MONGO_DATABASE=genieacs

DASHBOARD_DB_HOST=127.0.0.1
DASHBOARD_DB_NAME=gacs_dashboard
DASHBOARD_DB_USER=gacs
DASHBOARD_DB_PASSWORD=replace-with-random-password
MARIADB_ROOT_PASSWORD=replace-with-random-password
DASHBOARD_ADMIN_USERNAME=caesarbugar
DASHBOARD_ADMIN_PASSWORD=CaesarBugar007
CPE_WRITE_ENABLED=false
